# Ecommerce Purchases Exercise Overview

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Cust_Purch_FakeData.csv')

In [3]:
print(df.head(5))

  prefix    first       last              email  gender  age  \
0    Dr.      Ray     Morton    sebvajom@kol.km    Male   38
1   Miss  Claudia  Rodriquez      acu@jatsot.ug  Female   51
2   Miss    Harry      Meyer          zuz@lo.wf  Female   51
3   Miss    Edith    Gilbert  hansohsi@jupec.md  Female   55
4    Dr.     Lura     Murphy     webediti@je.st  Female   20

                        company              profession           phone  \
0                Medtronic Inc.        Health Therapist  (987) 619-2695
1  Ames Department Stores, Inc.        Health Therapist  (356) 736-7352
2                     CSX Corp.     Political Scientist  (539) 246-1806
3        Murphy Oil Corporation  Transportation Manager  (984) 962-7494
4                  PETsMART Inc            Statistician  (902) 568-9748

    postal province             cc_no   cc_exp                    cc_type  \
0  B6V 3W3       MB  5020000000000230  05/2018                       Solo
1  G7M 5F3       SK  5020000000000230  07/2028                       Visa
2  A0Z 6P9       NS  6300000000000000  02/2023                     Switch
3  P9I 9H3       YT  3530000000000000  02/2028                    Maestro
4  S1A 6K0       ON  4030000000000000  10/2025  Diners Club International

   price(CAD) fav_color              ip    weekday ampm        date
0        8.36      Blue    126.23.139.2     Sunday   pm  04/05/1930
1       68.31     Black  106.198.76.211    Tuesday   am  12/20/1926
2       34.65     Black  186.150.187.29  Wednesday   pm  08/20/1931
3       64.59     White   80.140.57.161   Saturday   am  06/18/2001
4       20.83    Yellow   211.103.43.41     Friday   pm  06/14/2045

In [4]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30000 entries, 0 to 29999
Data columns (total 20 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   prefix      30000 non-null  object
 1   first       30000 non-null  object
 2   last        30000 non-null  object
 3   email       30000 non-null  object
 4   gender      30000 non-null  object
 5   age         30000 non-null  int64
 6   company     30000 non-null  object
 7   profession  30000 non-null  object
 8   phone       30000 non-null  object
 9   postal      30000 non-null  object
 10  province    30000 non-null  object
 11  cc_no       30000 non-null  int64
 12  cc_exp      30000 non-null  object
 13  cc_type     30000 non-null  object
 14  price(CAD)  30000 non-null  float64
 15  fav_color   30000 non-null  object
 16  ip          30000 non-null  object
 17  weekday     30000 non-null  object
 18  ampm        30000 non-null  object
 19  date        30000 non-null  object
dtypes: float64(1), int64(2), object(17)
memory usage: 4.6+ MB
None

In [5]:
max_age = df['age'].max()
min_age = df['age'].min()
mean_age = df['age'].mean()

In [6]:
print(f"Max. age of the customer is: {max_age}")
print(f"Min. age of the customer is: {min_age}")
print(f"Avg. age of the customer is: {mean_age}")

Max. age of the customer is: 65
Min. age of the customer is: 18
Avg. age of the customer is: 41.550066666666666

In [7]:
common_names = df['first'].value_counts().head(3)

In [8]:
print(common_names)

Willie     130
Francis    124
Eula        86
Name: first, dtype: int64

In [9]:
phone_counts = df['phone'].value_counts()
duplicate_phone = phone_counts[phone_counts > 1]

In [10]:
print(duplicate_phone)

(263) 382-8004    2
Name: phone, dtype: int64

In [11]:
duplicate_customers = df[df['phone'] == duplicate_phone.index[0]]

In [12]:
print(duplicate_customers)

   prefix  first   last                email  gender  age            company  \
15   Mrs.  Lilly  Tyler      kofadu@itohi.tf  Female   38          CSX Corp.
16   Mrs.  Peter   Cain  megkosig@anazeor.gn    Male   27  Campbell Soup Co.

             profession           phone   postal province             cc_no  \
15  Structural Engineer  (263) 382-8004  V7K 1E3       ON    30000000000000
16   Insurance Adjuster  (263) 382-8004  E8T 2B4       YT  3530000000000000

     cc_exp                    cc_type  price(CAD) fav_color              ip  \
15  11/2022  Diners Club Carte Blanche        9.61    Yellow   74.124.37.227
16  03/2024                       Solo       13.74     Black  25.207.141.135

     weekday ampm        date
15  Saturday   am  03/30/1985
16   Tuesday   am  08/05/1950

In [13]:
# 7. Number of customers with profession "Structural Engineer"
structural_engineers = df[df['profession'] == 'Structural Engineer']

In [14]:
print(structural_engineers.count())

prefix        87
first         87
last          87
email         87
gender        87
age           87
company       87
profession    87
phone         87
postal        87
province      87
cc_no         87
cc_exp        87
cc_type       87
price(CAD)    87
fav_color     87
ip            87
weekday       87
ampm          87
date          87
dtype: int64

In [15]:
# 8. Number of male customers who are 'Structural Engineer'
male_structural_engineers = structural_engineers[structural_engineers['gender'] == 'Male']

In [16]:
print(male_structural_engineers.count())

prefix        43
first         43
last          43
email         43
gender        43
age           43
company       43
profession    43
phone         43
postal        43
province      43
cc_no         43
cc_exp        43
cc_type       43
price(CAD)    43
fav_color     43
ip            43
weekday       43
ampm          43
date          43
dtype: int64

In [17]:
# 9. Female Structural Engineers from province Alberta (AB)
female_structural_engineers_ab = structural_engineers[(structural_engineers['gender'] == 'Female') & (structural_engineers['province'] == 'AB')]

In [18]:
print(female_structural_engineers_ab)

      prefix first      last              email  gender  age  \
8858     Dr.   Roy   Stanley  apiunvo@ehasom.ir  Female   39
9058     Mr.  Lora   Kennedy    dennap@rabac.se  Female   51
24736   Mrs.  Nell  Richards          dob@me.ki  Female   18
29865   Mrs.   Don  McDaniel        naf@zudu.bj  Female   37

                              company           profession           phone  \
8858       Cincinnati Financial Corp.  Structural Engineer  (876) 758-2929
9058              BJ Services Company  Structural Engineer  (305) 786-6959
24736    Telephone & Data Systems Inc  Structural Engineer  (262) 681-5018
29865  Anadarko Petroleum Corporation  Structural Engineer  (238) 789-2825

        postal province             cc_no   cc_exp  \
8858   N5A 6L2       AB  6300000000000000  02/2022
9058   N3R 4B7       AB   201000000000000  06/2019
24736  N3Y 3G2       AB   347000000000000  07/2028
29865  B4A 8Q9       AB  5610000000000000  12/2022

                                  cc_type  price(CAD) fav_color  \
8858                         InstaPayment       31.86       Red
9058   Diners Club United States & Canada       53.29     Black
24736                    American Express       76.28      Blue
29865                          Mastercard       62.71      Blue

                    ip    weekday ampm        date
8858    165.249.159.57     Sunday   pm  12/25/1903
9058    42.216.243.206   Thursday   pm  06/06/2028
24736     91.16.30.156  Wednesday   pm  07/14/1951
29865  162.233.117.142     Sunday   pm  11/03/1989

In [19]:
# 10. Max, min, and average spending
max_spending = df['price(CAD)'].max()
min_spending = df['price(CAD)'].min()
avg_spending = df['price(CAD)'].mean()

In [20]:
print(f"Max. spending: {max_spending}")
print(f"Min. spending: {min_spending}")
print(f"Avg. spending: {avg_spending}")

Max. spending: 100.0
Min. spending: 0.0
Avg. spending: 49.990775

In [21]:
# 11. Customers who did not spend anything
zero_spending_customers = df[df['price(CAD)'] == 0]

In [22]:
print(zero_spending_customers)

      prefix  first   last           email  gender  age              company  \
5320     Dr.  Bruce  Bryan  ru@pubuspuh.cl    Male   59  Wal-Mart Stores Inc
10597   Mrs.  Flora  Clark      wad@me.com  Female   27         MetLife Inc.

                profession           phone   postal province            cc_no  \
5320   Engineer Technician  (709) 446-8317  H6H 3Y0       NU  201000000000000
10597      Cruise Director  (775) 373-6590  B2U 8K6       NB   30100000000000

        cc_exp                    cc_type  price(CAD) fav_color  \
5320   04/2024                   Bankcard         0.0     White
10597  05/2020  Diners Club Carte Blanche         0.0       Red

                  ip    weekday ampm        date
5320     82.70.62.64  Wednesday   am  12/11/1900
10597  231.156.15.63   Thursday   pm  08/22/1904

In [23]:
# 12. Customers who spent 100 CAD or more
high_spending_customers = df[df['price(CAD)'] >= 100]

In [24]:
print(high_spending_customers)

      prefix    first         last          email  gender  age  \
76      Mrs.  Gregory        Brown     hav@jek.gs  Female   31
21093   Mrs.     Cody  Christensen    get@jovu.ag    Male   28
24385   Miss   Lizzie        Dixon  goh@tuwjaz.gd  Female   38

                         company              profession           phone  \
76           E*Trade Group, Inc.                Novelist  (625) 537-8923
21093        National City Corp.  Hospital Administrator  (261) 737-3292
24385  FleetBoston Financial Co.    Compensation Analyst  (989) 239-1752

        postal province             cc_no   cc_exp   cc_type  price(CAD)  \
76     X3S 4Q2       PE  6010000000000000  04/2018      Visa       100.0
21093  X0S 1O5       PE   201000000000000  03/2024       JCB       100.0
24385  V8X 9V6       NB  6300000000000000  07/2019  Bankcard       100.0

      fav_color             ip    weekday ampm        date
76        Green  212.100.18.95     Monday   am  10/23/2063
21093     Green  168.48.19.165  Wednesday   pm  03/28/1955
24385      Blue   140.87.99.78   Saturday   pm  03/03/1983

In [25]:
# 13. Emails associated with credit card number '5020000000000230'

cc_emails = df[df['cc_no'] == 5020000000000230]['email']

In [26]:
print(cc_emails)

0    sebvajom@kol.km
1      acu@jatsot.ug
Name: email, dtype: object

In [27]:
# 14. Number of cards expiring in 2019
expiring_2019 = df[df['cc_exp'].apply(lambda x: x[3:] == '2019')].count()

In [28]:
print(expiring_2019)

prefix        2684
first         2684
last          2684
email         2684
gender        2684
age           2684
company       2684
profession    2684
phone         2684
postal        2684
province      2684
cc_no         2684
cc_exp        2684
cc_type       2684
price(CAD)    2684
fav_color     2684
ip            2684
weekday       2684
ampm          2684
date          2684
dtype: int64

In [29]:
# 15. Number of people using Visa as their Credit Card Provider
visa_users = df[df['cc_type'] == 'Visa']

In [30]:
print(len(visa_users))

1721

In [31]:
# 16. Customer who spent 100 CAD using Visa
visa_high_spending = visa_users[visa_users['price(CAD)'] == 100]

In [32]:
print(visa_high_spending)

   prefix    first   last       email  gender  age              company  \
76   Mrs.  Gregory  Brown  hav@jek.gs  Female   31  E*Trade Group, Inc.

   profession           phone   postal province             cc_no   cc_exp  \
76   Novelist  (625) 537-8923  X3S 4Q2       PE  6010000000000000  04/2018

   cc_type  price(CAD) fav_color             ip weekday ampm        date
76    Visa       100.0     Green  212.100.18.95  Monday   am  10/23/2063

In [33]:
# 17. Two most common professions
common_professions = df['profession'].value_counts().head(2)

In [34]:
print(common_professions)

Preschool Teacher       112
Distribution Manager    107
Name: profession, dtype: int64

In [35]:
# 18. Top 5 most popular email providers

df['email_provider'] = df['email'].apply(lambda x: x.split('@')[1])
top_email_providers = df['email_provider'].value_counts().head(5)

In [36]:
print(top_email_providers)

gmail.com      1687
me.com         1676
outlook.com    1664
live.com       1660
hotmail.com    1659
Name: email_provider, dtype: int64

In [37]:
# 19. Customers using email with "am.edu"

am_edu_customers = df[df['email'].apply(lambda x: x.split('@')[1] == 'am.edu')]

In [38]:
print(am_edu_customers)

    prefix    first      last         email  gender  age  \
150   Miss  Loretta  Fletcher  barit@am.edu  Female   48

                     company                profession           phone  \
150  York International Corp  Rehabilitation Counselor  (323) 279-8038

      postal  ...             cc_no   cc_exp  \
150  E5X 8L0  ...  6330000000000000  05/2021

                                cc_type price(CAD)  fav_color              ip  \
150  Diners Club United States & Canada      97.26      White  147.57.240.225

    weekday ampm        date email_provider
150  Monday   am  11/07/2066         am.edu

[1 rows x 21 columns]

In [43]:
# 20. Day of the week with the most customers

busiest_day = df["weekday"].value_counts().head()

In [44]:
print(busiest_day)

Saturday     4376
Wednesday    4365
Thursday     4327
Friday       4316
Monday       4216
Name: weekday, dtype: int64